<%- include ('./templates/head') %>

<body>
    <%- include ('./templates/header') %>
    <form class="container" action="/image">
        <input type="text" name="image_url" id="imageURL" value="" placeholder="Paste in the image url">
        <button id="btn" class="submit-button">Submit</button>
    </form>
    <div class="image-container">
        <h3 id="details"><%= name %> </h3>
        <div class="image">
            <img id="image" src='<%= image_url %>' alt="">
            <div class="box" style="
                position: absolute;
                top: <%= top %>px;
                left: <%= left %>px;
                right: <%= right %>px;
                bottom: <%= bottom %>px;
                display: <%= display %>;
            "></div>
        </div>
    </div>
    <%- include ('./templates/footer') %>
</body>

</html>